@font-face {
  font-family: Currency;
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/0e272d9f23ff45ef1c73.eot);
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/0e272d9f23ff45ef1c73.eot) format("embedded-opentype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/d8c24094b8d63ec432d3.woff2) format("woff2"), url(https://dodopizza-a.akamaihd.net/site-static/dist/d9c43b57d3296bd51c71.woff) format("woff"), url(https://dodopizza-a.akamaihd.net/site-static/dist/6d048d5701bfd7d55a9a.ttf) format("truetype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/4bf66b73be881a0b8e14.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Dodo;
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/85d3581ea97d3b49a585.eot);
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/85d3581ea97d3b49a585.eot) format("embedded-opentype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/afc6b0737b6754259bf9.woff2) format("woff2"), url(https://dodopizza-a.akamaihd.net/site-static/dist/9b1b07f6017dd0c96a95.woff) format("woff"), url(https://dodopizza-a.akamaihd.net/site-static/dist/7dafc8673f598fd7b89d.ttf) format("truetype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/ed998f6cb5237eb5f510.svg) format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Dodo;
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/1f4b315687a68fbde5ed.eot);
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/1f4b315687a68fbde5ed.eot) format("embedded-opentype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/c94b7d111f2ff49f4768.woff2) format("woff2"), url(https://dodopizza-a.akamaihd.net/site-static/dist/0b90ba8d365e2604f005.woff) format("woff"), url(https://dodopizza-a.akamaihd.net/site-static/dist/eb3c3d33dc8f50342d3c.ttf) format("truetype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/cd368ea5ce09baa92928.svg) format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Dodo;
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/b4147c386288a83ece4b.eot);
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/b4147c386288a83ece4b.eot) format("embedded-opentype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/4c3c8db103d02b1eca3f.woff2) format("woff2"), url(https://dodopizza-a.akamaihd.net/site-static/dist/1d5f9e84b6d76cca4f27.woff) format("woff"), url(https://dodopizza-a.akamaihd.net/site-static/dist/fa5dae065db8e45263ec.ttf) format("truetype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/afcd93af536f178734ae.svg) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Dodo;
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/0e111adc74bdf6086d36.eot);
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/0e111adc74bdf6086d36.eot) format("embedded-opentype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/c088d32fc034f471282e.woff2) format("woff2"), url(https://dodopizza-a.akamaihd.net/site-static/dist/d5734d723af55dece3f1.woff) format("woff"), url(https://dodopizza-a.akamaihd.net/site-static/dist/4066a21a8fb388129b0c.ttf) format("truetype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/f845373e33a8c36c5556.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Dodo;
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/e49b926a285d1eedc8a6.eot);
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/e49b926a285d1eedc8a6.eot) format("embedded-opentype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/b2314a582d38cf3eabf3.woff2) format("woff2"), url(https://dodopizza-a.akamaihd.net/site-static/dist/7f088f73e458fad2cb20.woff) format("woff"), url(https://dodopizza-a.akamaihd.net/site-static/dist/acc5f5bb0d522530db2d.ttf) format("truetype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/70b3f40a407042228ce8.svg) format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Dodo;
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/482a4db5886544267c19.eot);
  src: url(https://dodopizza-a.akamaihd.net/site-static/dist/482a4db5886544267c19.eot) format("embedded-opentype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/1554ca14409f0dcaf842.woff2) format("woff2"), url(https://dodopizza-a.akamaihd.net/site-static/dist/dd2a13f7dbc0dd907016.woff) format("woff"), url(https://dodopizza-a.akamaihd.net/site-static/dist/42ee7e766c54464c5be8.ttf) format("truetype"), url(https://dodopizza-a.akamaihd.net/site-static/dist/4220e1037ad99a27aed4.svg) format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: Dodo, "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* media */

.container,
.footer__content,
.secret-buyer__content,
.pizza__content,
.pizza__title,
.cart__content,
.cart__title,
.mobile-nav__content,
.nav__content,
.header__content,
.notification {
  width: 95%;
  margin: auto;
  max-width: 1300px;
}

p.muted {
  font-weight: normal;
  opacity: 0.5;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

img {
  max-width: 100%;
  height: auto;
}

.notification {
  margin-top: 1em;
  padding: 1em;
  width: 100%;
  border: 1px solid black;
}

.notification.is-success {
  background: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6;
}

.header {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5em 0;
}

.header__content .flex {
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.header__content.from-lg .grid {
  grid-template-columns: 1fr 1fr 1fr auto;
  -webkit-box-align: center;
          align-items: center;
}

.header__content.from-lg img {
  margin-top: -7px;
}

.header__text {
  margin-top: 6px;
}

.header__text p {
  font-weight: bolder;
}

.header__text p span {
  color: #ff6900;
}

.header__contacts a {
  color: black;
  text-decoration: none;
}

.header__logo a:last-child {
  display: none;
}

.header__trigger {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.header__trigger img {
  margin: auto;
}

.header__trigger img:last-child {
  display: none;
}

.header--is-opened {
  background: #000;
}

.header--is-opened .header__logo a:first-child {
  display: none;
}

.header--is-opened .header__logo a:last-child {
  display: unset;
}

.header--is-opened .header__trigger img:first-child {
  display: none;
}

.header--is-opened .header__trigger img:last-child {
  display: unset;
}

.nav {
  background: white;
  padding: 0.5em 0 0.5em 0;
  border-bottom: 1px solid #e6e6e6;
}

.nav--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav--sticky .nav__logo {
  display: unset;
}

.nav__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.nav__links {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.nav__links a {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: bolder;
  padding: 0.6em 0 0.5em 0;
}

.nav__links a:not(:last-child) {
  margin-right: 1.5em;
}

.nav__links a:hover {
  color: #ff6900;
}

.nav__links a.live {
  position: relative;
  margin-left: 1em;
}

.nav__links a.live::before {
  content: "";
  background: red none repeat scroll 0% 0%;
  width: 9px;
  height: 9px;
  position: absolute;
  left: -18px;
  bottom: 15px;
  border-radius: 50%;
  -webkit-animation: 2s ease-in-out 0s infinite normal none running pulse;
          animation: 2s ease-in-out 0s infinite normal none running pulse;
}

.nav__logo {
  margin-right: 1em;
  display: none;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mobile-nav {
  background: black;
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  font-size: 1.2rem;
  line-height: 1.7rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: none;
}

.mobile-nav--is-opened {
  display: unset;
}

.mobile-nav__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.mobile-nav__location,
.mobile-nav__contacts {
  color: #fff;
  padding: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: flex;
}

.mobile-nav__location img,
.mobile-nav__contacts img {
  height: 22px;
  margin-right: 0.6em;
}

.mobile-nav__location p span,
.mobile-nav__contacts p span {
  font-size: 0.8rem;
  line-height: 1.3rem;
  opacity: 0.5;
  display: block;
}

.mobile-nav__links {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 1em;
  padding-bottom: 0;
  padding-left: 2.3em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-nav__links a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 1em;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.modal__content {
  background: #fff;
  border-radius: 9px;
  cursor: default;
  padding: 1.5em 2.5em;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  overflow-y: auto;
  height: 80vh;
  width: 90vw;
  max-height: 680px;
  max-width: 800px;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.modal__close:hover {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  cursor: pointer;
}

.modal__left {
  background: #fcfcfc none repeat scroll 0% 0%;
  display: -webkit-box;
  display: flex;
  margin: auto;
  flex-basis: 60%;
}

.modal__right {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-basis: 40%;
}

.modal__image {
  margin: auto;
}

.modal__info {
  margin-bottom: 1em;
}

.modal__info h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.modal__info p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  max-width: 90%;
}

.modal__info p.muted {
  opacity: 0.7;
}

.modal__box {
  background-color: #f1f2f5;
  border-radius: 8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 1em;
}

.modal__box span {
  color: gray;
  cursor: pointer;
  padding: 0.5em 0em;
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.2rem;
  margin: 1px 2px 2px 2px;
  -webkit-transition: color 0.2s ease-out 0s;
  transition: color 0.2s ease-out 0s;
}

.modal__box span.is-active {
  background: #fff;
  color: #000;
  box-shadow: rgba(6, 5, 50, 0.19) 0px 10px 20px;
  border-radius: 8px;
}

.modal__box span:hover {
  color: #000;
}

.modal__button {
  margin-top: auto;
}

.cart__title {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.cart__item {
  background: #f3f3f3;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}

.cart__info {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.cart__info img {
  max-width: 100px;
}

.cart__actions {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.cart__delete:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.cart__delete:hover svg {
  color: #ff6900;
}

.cart__quantity {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.cart__quantity p {
  padding: 0.3em 1em;
}

.cart__order {
  box-shadow: 0 -8px 54px rgba(0, 0, 0, 0.08);
  padding: 1em;
  margin-bottom: 1em;
}

.cart__price {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 1em;
  font-weight: bolder;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.cart__buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.cart__buttons a {
  -webkit-box-flex: 1;
          flex: 1;
}

.cart__buttons a:first-of-type {
  margin-right: 1em;
}

.carousel {
  position: relative;
  margin-bottom: 3em;
  max-width: 100%;
}

.carousel__dots {
  position: absolute;
  left: 50%;
  bottom: 1em;
}

.carousel__slide {
  display: none;
}

.carousel__slide img {
  max-width: 100%;
}

.carousel__dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.carousel__dot.active,
.carousel__dot:hover {
  background-color: #fff;
}

.carousel__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carousel__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.carousel__prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel .fade,
.carousel .carousel__slide {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.pizza {
  margin: 2em 0;
}

@media (min-width: 400px) and (max-width: 767px) {
  .pizza {
    margin-top: 3em;
  }
}

.pizza__title {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

@media (min-width: 768px) and (max-width: 991px) {
  .pizza__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0em 1em;
  }
}

@media (min-width: 992px) {
  .pizza__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em 2em;
    text-align: center;
    text-align: left;
  }
}

.pizza__item {
  padding: 0.3em;
  text-align: center;
  margin-bottom: 2em;
}

.pizza__item img {
  display: block;
  margin: auto;
  max-width: 100%;
  cursor: pointer;
}

.pizza__item img:hover {
  margin-top: -5px;
  margin-bottom: 5px;
}

@media (min-width: 400px) and (max-width: 991px) {
  .pizza__item img:hover {
    margin-top: -6%;
    margin-bottom: 6%;
  }
}

@media (min-width: 400px) and (max-width: 991px) {
  .pizza__item {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-areas: "photo info" "photo button" "photo .";
    gap: 0 1em;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .pizza__item {
    display: grid;
    grid-template-rows: 1fr 0.5fr auto;
  }
}

.pizza__info p {
  padding: 1em;
  padding-left: 0;
  opacity: 0.5;
}

.pizza__info h3 {
  max-width: 90%;
}

@media (min-width: 400px) and (max-width: 991px) {
  .pizza__info {
    grid-area: info;
    text-align: left;
  }

  .pizza__info p {
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .pizza__info {
    text-align: left;
  }
}

.pizza__img {
  display: -webkit-box;
  display: flex;
}

@media (min-width: 400px) and (max-width: 991px) {
  .pizza__img {
    grid-area: photo;
    margin-top: -8%;
    margin-bottom: 8%;
  }
}

@media (min-width: 400px) and (max-width: 991px) {
  .pizza__button {
    text-align: left;
    grid-area: button;
  }
}

@media (min-width: 992px) {
  .pizza__button {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
  }

  .pizza__button:not(.from-lg) {
    display: none;
  }
}

.secret-buyer {
  background: #ff6900;
}

.secret-buyer__content {
  padding: 1em;
}

.secret-buyer__content a:not(.btn) {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  color: #fff;
  text-decoration: none;
  adding: 1em;
}

.secret-buyer__content a:not(.btn) div {
  padding: 1em;
  background: red;
}

@media (min-width: 992px) {
  .secret-buyer__content {
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    padding: 0.7em 0;
  }

  .secret-buyer__content:not(.from-lg) {
    display: none;
  }

  .secret-buyer__content .flex {
    -webkit-box-align: center;
            align-items: center;
  }

  .secret-buyer__content .flex img {
    margin-right: 1em;
  }
}

.secret-buyer:hover {
  background: #ff6a00ea;
}

.footer {
  background: #373535;
  color: #fff;
  padding: 1.5em;
}

.footer__content a,
.footer__content p {
  opacity: 0.7;
}

.footer__content a {
  color: #fff;
  text-decoration: none;
}

.footer__content a:hover {
  color: gray;
}

.footer__phone {
  margin-bottom: 1em;
  border: none;
}

.footer__phone a {
  color: #fff;
  opacity: 1;
  font-size: 1.5rem;
  line-height: 2rem;
}

.footer__email,
.footer__social,
.footer__links {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 1em;
}

@media (min-width: 992px) {
  .footer__email,
  .footer__social,
  .footer__links {
    border: none;
  }
}

.footer__links {
  padding: 1em 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.footer__links a:not(:last-child) {
  margin-bottom: 1em;
}

@media (min-width: 992px) {
  .footer__links a:not(:last-child) {
    margin-bottom: 0;
  }
}

.footer__social {
  padding: 1em;
  padding-left: 0;
}

.footer__copyright {
  margin-top: 1em;
  border: none;
  display: -webkit-box;
  display: flex;
}

.footer__copyright p {
  margin-left: 1em;
}

@media (min-width: 992px) {
  .footer__top {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .footer__links {
    -webkit-box-ordinal-group: 0;
            order: -1;
    grid-area: links;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }

  .footer__links a {
    margin-right: 1.5em;
  }

  .footer__bottom {
    display: grid;
    grid-template-areas: "copyright links . social";
    grid-template-columns: 0.4fr 1fr auto;
    grid-template-rows: auto;
    -webkit-box-align: center;
            align-items: center;
  }

  .footer__copyright {
    grid-area: copyright;
    margin-top: 0;
    -webkit-box-align: center;
            align-items: center;
  }

  .footer__social {
    grid-area: social;
    padding: 0;
  }

  .footer .footer__email,
  .footer .footer__links,
  .footer .footer__social {
    border: none;
  }
}

.btn {
  background: #ff6900;
  color: #fff;
  padding: 0.6em 1.3em;
  border-radius: 9px;
  display: inline-block;
  text-decoration: none;
  border: none;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.btn:hover {
  box-shadow: 0px 0px 7px 7px rgba(158, 158, 158, 0.2);
  cursor: pointer;
}

.btn--white {
  background: #fff;
  color: #000;
  border: 1px solid #babfd0;
  border-radius: 100%;
  padding: 0.7em;
  font-weight: bolder;
}

.btn--white:hover {
  box-shadow: none;
  color: #ff6900;
  border-color: #ff6900;
}

.btn--square {
  border-radius: 100px;
  padding: 0.3em 1.4em;
}

.btn--outline-white {
  border: 1px solid #fff;
  padding: 0.5em 1em;
}

.btn--outline-white:hover {
  background: #fff;
  color: #ff6900;
}

.btn--block {
  display: block;
  font-size: 0.7rem;
  line-height: 1.2rem;
  width: 100%;
}

@media (max-width: 991px) {
  .from-lg {
    display: none;
  }
}

@media (max-width: 575px) {
  .from-sm {
    display: none;
  }
}

@media (min-width: 992px) {
  .till-lg {
    display: none;
  }
}

.flex {
  display: -webkit-box;
  display: flex;
}

.grid {
  display: grid;
}

