p {
    &.muted {
        font-weight: normal;
        opacity: .5;
        @include size(.9);
    }

    &.help {
        @include size(.8);

        &.is-danger {
            color: red;
            margin-top: -1em;
            margin-bottom: 2em;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

.notification {
    margin-top: 1em;
    @extend .container;
    padding: 1em;
    width: 100%;
    border: 1px solid black;

    &.is-success {
        background: #dff0d8;
        color: #3c763d;
        border-color: #d6e9c6;
    }
}
