.secret-buyer {
	background: color(primary);
	color: color(white);

	@include has(content) {
		@extend .container;
		padding: 1em;

		a:not(.btn) {
			display: flex;
			justify-content: space-between;
			color: color(link);
			text-decoration: none;
				adding: 1em;
			
			div {
				padding: 1em;
				background: red;
			}
		}
		
		@include from-lg {
			color: color(light);
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: .7em;

			&:not(.from-lg) {
				display: none;
			}

			.flex {
				align-items: center;

				img {
					margin-right: 1em;
				}
			}
		}
	}

	&:hover {
		background: color(primary-dark);
	}
}

.footer {
	background: #373535;
	color: color(light);
	padding: 1.5em;

	@include has(content) {
		@extend .container;
	}

	a,
	p {
		opacity: .7;
	}

	a {
		color: color(link);
		text-decoration: none;

		&:hover {
			color: color(link-dark);
		}
	}
	@include has(phone) {
		margin-bottom: 1em;
		border: none;

		a {
			color: color(link);
			opacity: 1;
			@include size(1.5);
		}
	}

	@include has(email) {
		border-bottom: 1px solid hsla(0, 0%, 100%, .1);
		padding-bottom: 1em;
	}
	@include has(links) {
		@extend .footer__email;
		padding: 1em 0;
		display: flex;
		flex-direction: column;

		a {
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
	}
	@include has(social) {
		@extend .footer__email;
		padding: 1em;
		padding-left: 0;
	}

	@include has(copyright) {
		margin-top: 1em;
		border: none;
		display: flex;

		p {
			margin-left: 1em;
		}
	}
}
