.header {
	background: color(light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	padding: .5em 0;

	@include has(content) {
		@extend .container;

		.flex {
			justify-content: space-between;
			align-items: center;
		}

		&.from-lg {
			.grid {
				grid-template-columns: 1fr 1fr 1fr auto;
				align-items: center;
			}

			img {
				margin-top: -7px;
			}
		}
	}

	@include has(text) {
		margin-top: 6px;

		p {
			font-weight: bolder;

			span {
				color: color(primary);
			}
		}
	}

	@include has(contacts) {
		a {
			color: black;
			text-decoration: none;
		}
	}

	@include has(logo) {
		a:last-child {
			display: none;
		}
	}

	@include has(trigger) {
		display: flex;
		align-items: center;
		cursor: pointer;
		height: 35px;
		width: 35px;

		img {
			margin: auto;

			&:last-child {
				display: none;
			}
		}
	}
}

.nav {
	background: white;
	padding: .5em 0 .5em 0;
	border-bottom: 1px solid #e6e6e6;

	@include and(sticky) {
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;

		.nav__logo {
			display: unset;
		}
	}

	@include has(content) {
		@extend .container;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@include has(links) {
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			color: black;
			text-decoration: none;
			@include size(.9);
			font-weight: bolder;
			padding: .6em 0 .5em 0;

			&:not(:last-child) {
				margin-right: 1.5em;
			}

			&:hover {
				color: color(primary);
			}

			&.live {
				position: relative;
				margin-left: 1em;

				&::before {
					content: '';
					background: red none repeat scroll 0% 0%;
					width: 9px;
					height: 9px;
					position: absolute;
					left: -18px;
					bottom: 15px;
					border-radius: 50%;
					animation: 2s ease-in-out 0s infinite normal none running pulse;
				}
			}
		}
	}

	@include has(logo) {
		margin-right: 1em;
		display: none;
	}

@include and(is-opened) {
    background: color(dark);
    z-index: 2;

    .header__logo {
        a:first-child {
            display: none;
        }
        a:last-child {
            display: unset;
        }
    }

    .header__trigger {
        img:first-child {
            display: none;
        }
        img:last-child {
            display: unset;
        }
    }
}

}

@keyframes pulse {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.mobile-nav {
	background: black;
	position: fixed;
	top: 51px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	@include size(1.2);
	border-top: 1px solid hsla(0, 0%, 100%, .2);
	display: none;

	@include and(is-opened) {
		display: unset;
	}

	@include has(content) {
		@extend .container;
		display: flex;
		flex-direction: column;
	}

	@include has(location) {
		color: color(light);
		padding: 1em;
		border-bottom: 1px solid hsla(0, 0%, 100%, .2);
		display: flex;

		img {
			height: 22px;
			margin-right: .6em;
		}

		p {
			span {
				@include size(.8);
				opacity: .5;
				display: block;
			}
		}
	}

	@include has(contacts) {
		@extend .mobile-nav__location;
	}

	@include has(links) {
		display: flex;
		flex-direction: column;
		padding: 1em;
		padding-bottom: 0;
		padding-left: 2.3em;
		border-bottom: 1px solid hsla(0, 0%, 100%, .2);

		a {
			color: color(link);
			text-decoration: none;
			margin-bottom: 1em;
		}
	}
}
