@font-face {
	font-family: Currency;
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/0e272d9f23ff45ef1c73.eot);
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/0e272d9f23ff45ef1c73.eot) format("embedded-opentype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/d8c24094b8d63ec432d3.woff2) format("woff2"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/d9c43b57d3296bd51c71.woff) format("woff"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/6d048d5701bfd7d55a9a.ttf) format("truetype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/4bf66b73be881a0b8e14.svg) format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: Dodo;
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/85d3581ea97d3b49a585.eot);
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/85d3581ea97d3b49a585.eot) format("embedded-opentype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/afc6b0737b6754259bf9.woff2) format("woff2"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/9b1b07f6017dd0c96a95.woff) format("woff"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/7dafc8673f598fd7b89d.ttf) format("truetype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/ed998f6cb5237eb5f510.svg) format("svg");
	font-weight: 100;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Dodo;
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/1f4b315687a68fbde5ed.eot);
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/1f4b315687a68fbde5ed.eot) format("embedded-opentype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/c94b7d111f2ff49f4768.woff2) format("woff2"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/0b90ba8d365e2604f005.woff) format("woff"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/eb3c3d33dc8f50342d3c.ttf) format("truetype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/cd368ea5ce09baa92928.svg) format("svg");
	font-weight: 200;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Dodo;
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/b4147c386288a83ece4b.eot);
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/b4147c386288a83ece4b.eot) format("embedded-opentype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/4c3c8db103d02b1eca3f.woff2) format("woff2"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/1d5f9e84b6d76cca4f27.woff) format("woff"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/fa5dae065db8e45263ec.ttf) format("truetype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/afcd93af536f178734ae.svg) format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Dodo;
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/0e111adc74bdf6086d36.eot);
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/0e111adc74bdf6086d36.eot) format("embedded-opentype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/c088d32fc034f471282e.woff2) format("woff2"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/d5734d723af55dece3f1.woff) format("woff"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/4066a21a8fb388129b0c.ttf) format("truetype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/f845373e33a8c36c5556.svg) format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Dodo;
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/e49b926a285d1eedc8a6.eot);
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/e49b926a285d1eedc8a6.eot) format("embedded-opentype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/b2314a582d38cf3eabf3.woff2) format("woff2"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/7f088f73e458fad2cb20.woff) format("woff"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/acc5f5bb0d522530db2d.ttf) format("truetype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/70b3f40a407042228ce8.svg) format("svg");
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Dodo;
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/482a4db5886544267c19.eot);
	src: url(https://dodopizza-a.akamaihd.net/site-static/dist/482a4db5886544267c19.eot) format("embedded-opentype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/1554ca14409f0dcaf842.woff2) format("woff2"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/dd2a13f7dbc0dd907016.woff) format("woff"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/42ee7e766c54464c5be8.ttf) format("truetype"),
		url(https://dodopizza-a.akamaihd.net/site-static/dist/4220e1037ad99a27aed4.svg) format("svg");
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}

body,
body * {
	margin: 0;
	padding: 0;
	vertical-align: top;
	box-sizing: border-box;
	font-family: Dodo, 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
