.from-lg {
	@include till-lg-end {
		display: none;
	}
}

.from-sm {
	@include till-sm-end {
		display: none;
	}
}

.till-lg {
	@include from-lg {
		display: none;
	}
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}
